<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<link  rel="stylesheet" href=""/>
<style>
img{
	width : 100%
}
p{
	text-align : center;
	font-family: "poppins",sans-serif;
	font-size: 3vh;
}
#upper{
	
	display :flex;
	align : center;
	justify-content: space-around;
	background-color: black;
	margin: auto;
	align-items: center;
	color: white; 
}

</style>
</head>	
<body>
	<div id="upper">
		<p>SignUp<a href= "register.html"></a><p/>
		<p>Verify your subscription by signing In</p>
		<p>Login<a href= "login.html"></a><p/>
	</div>
	
	<img src="https://cdn.mos.cms.futurecdn.net/YDQnzkVbJbaNGpQfuN6co4.jpg" alt="No Image Found">
</body>
<script>

   
</script>

</html>