<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link  rel="stylesheet" href="loginSignup.css"/>
</head>
<body>
<img src="https://sso.masaischool.com/brand_dark.svg" alt="No Image Found">
    <form id="formsec">
      <h2>Sign In</h2>
    
      <p>Email</p>
      <input placeholder="Enter email" type="text" id="link" />
      <div id="shift">
        <p>Password </p>
        <a href="forgot.html">Forgot Password?</a>
      </div>
      
      <input type="password" placeholder="Enter Password" id="pass">
     
      <!-- <input id="submit" type="submit" value="Sign Up" /> -->
      <input id="sub" type="submit" value="SIGN IN"></input>
      <div id="google">
          <img id="image" src="https://sso.masaischool.com/google.svg" alt="No Image Found">
          <p>CONTINUE WITH GOOGLE</p>
      </div>
      <p id="last">Don't have an account? <a href="index.html">Sign Up</a></p>
    </form>
      <p id="end">© 2022 by Masai School Privacy Policy & Terms and Conditions</p>
</body>
</html>