<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SignUp</title>
<link  rel="stylesheet" href="loginSignup.css"/>
</head>
<body>
<img src="https://sso.masaischool.com/brand_dark.svg" alt="No Image Found">
    <form id="form">
      <h2>Sign Up</h2>
      <p>Phone Number</p>
      <input placeholder="Enter your phone number" id="title" type="text" />
      <p>Email</p>
      <input placeholder="Enter email" type="text" id="link" />
      <p>Password</p>
      <input type="password" placeholder="Enter Password" id="pass">
      <p id="privacy">By signing up,I accept the Masai school <a href="terms.com">Terms of Services</a> and acknowledge the <a href="privacy.com">Privacy Policy.</a></p>

      <!-- <input id="submit" type="submit" value="Sign Up" /> -->
      <input id="submit" type="submit" value="SIGN UP"></input>
      <p id="last">Already have an account? <a href="login.html">Sign In</a></p>
    </form>
      <p id="end">© 2022 by Masai School Privacy Policy & Terms and Conditions</p>
</body>
</html>